*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: sans-serif;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.btn{
    background-color: rgb(55, 196, 196);
    border-radius: 5px;
    color: aliceblue;
    margin: 0.9rem;
    padding: 1.5rem 2rem;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    width: 180px;
}

.btn:hover{
    background-color: rgba(80, 200, 150, 0.9);   
}

.btn:focus{
    outline: none;
}